
    @font-face {
    font-family: 'Aileron Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Regular'), url('assets/aileron/Aileron-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Italic'), url('assets/aileron/Aileron-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Thin'), url('assets/aileron/Aileron-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron UltraLight'), url('assets/aileron/Aileron-UltraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Thin Italic'), url('assets/aileron/Aileron-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron UltraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron UltraLight Italic'), url('assets/aileron/Aileron-UltraLightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Light';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Light'), url('assets/aileron/Aileron-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Light Italic'), url('assets/aileron/Aileron-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron SemiBold'), url('assets/aileron/Aileron-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron SemiBold Italic'), url('assets/aileron/Aileron-SemiBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Bold'), url('assets/aileron/Aileron-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Bold Italic'), url('assets/aileron/Aileron-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Black';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Black'), url('assets/aileron/Aileron-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Heavy'), url('assets/aileron/Aileron-Heavy.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Black Italic'), url('assets/aileron/Aileron-BlackItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Aileron Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aileron Heavy Italic'), url('assets/aileron/Aileron-HeavyItalic.woff') format('woff');
    }