@import "../../../css/mixins/mixins";

.flex-end{
  justify-content: flex-end;
}

// Subscription Form global styles

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: grid;
  grid-template-rows: repeat(3, 70px) 60px;
  grid-row-gap: 30px;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0px;
  }  
}

.form-group{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 30px;
  position: relative;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-submit{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


input[type="submit"]{
  width: 120px;
  max-width: 25%;
  max-height: 40px;
  padding: 10px;
  background-color: $purple;
  color: #FFF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  &:hover{
    cursor: pointer;
    background-color: darken($purple, 5%);
  }
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    max-width: 40%;
    width: 40%;
    max-height: 60px;
    height: 50px;
  }
  @media screen and (max-width: 460px){
    height: 45px;
  }
  @media screen and (max-width: 445px) {
    font-size: 14px;
  }
  @media screen and (max-width: 400px){
    max-width: 50%;
    width: 150px;
  }
}




// Validation message style
span.validation-message-error{
  @include validation-text(#f54828);
}
span.validation-message-success{
  @include validation-text(green);
}

