html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #606060;
  font-family: Poppins, sans-serif;
}

.text_error {
  color: #f54828;
}

.text_success {
  color: green;
}

@font-face {
  font-family: "Aileron Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Regular"), url("assets/aileron/Aileron-Regular.woff") format("woff");
}
@font-face {
  font-family: "Aileron Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Italic"), url("assets/aileron/Aileron-Italic.woff") format("woff");
}
@font-face {
  font-family: "Aileron Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Thin"), url("assets/aileron/Aileron-Thin.woff") format("woff");
}
@font-face {
  font-family: "Aileron UltraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron UltraLight"), url("assets/aileron/Aileron-UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Aileron Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Thin Italic"), url("assets/aileron/Aileron-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Aileron UltraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron UltraLight Italic"), url("assets/aileron/Aileron-UltraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Aileron Light";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Light"), url("assets/aileron/Aileron-Light.woff") format("woff");
}
@font-face {
  font-family: "Aileron Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Light Italic"), url("assets/aileron/Aileron-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Aileron SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron SemiBold"), url("assets/aileron/Aileron-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Aileron SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron SemiBold Italic"), url("assets/aileron/Aileron-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Aileron Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Bold"), url("assets/aileron/Aileron-Bold.woff") format("woff");
}
@font-face {
  font-family: "Aileron Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Bold Italic"), url("assets/aileron/Aileron-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Aileron Black";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Black"), url("assets/aileron/Aileron-Black.woff") format("woff");
}
@font-face {
  font-family: "Aileron Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Heavy"), url("assets/aileron/Aileron-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Aileron Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Black Italic"), url("assets/aileron/Aileron-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "Aileron Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Heavy Italic"), url("assets/aileron/Aileron-HeavyItalic.woff") format("woff");
}
html {
  font-family: Aileron, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=App.css.map */
