@import "../assets/colours";

@mixin contentContainer($color: $purple){
  width: 60%;
  margin: 40px auto 0px auto;
  border: 2px solid $purple;
  border-radius: 12px;
  padding: 50px 60px 40px 60px;
  background-color: rgba(#FFF, 0.8);
  box-shadow: 4px 4px 8px rgba(#000, 0.3);
  @media screen and (max-width: 1820px){
      width: 65%;
  }
  @media screen and (max-width: 1575px){
      width: 70%;
  }
  @media screen and (max-width: 1575px){
      width: 75%;
  }
  @media screen and (max-width: 1575px){
      width: 75%;
  }
  @media screen and (max-width: 1230px){
      width: 85%;
      padding: 50px 50px 40px 50px;
  }
  @media screen and (max-width: 980px){
      width: 90%;
      padding: 50px 40px 40px 40px;
  }
  @media screen and (max-width: 810px){
      width: 90%;
      padding: 50px 30px 40px 30px;
  }
  @media screen and (max-width: 768px){
    width: 100%;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    padding: 25px 20px 30px 20px;

  }


}